// Begin bootstrap_form styles
@import "~bootstrap/scss/bootstrap";

.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
// End bootstrap_form styles

.hide-element {
  display: none;
}

body {
  padding-top: 75px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  overflow: scroll;
}

#logo-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25%;
  margin-bottom: 1%;
}

#fh-logo-app {
  margin-left: 2%;
}

#app-title {
  margin-right: 2.5%;
  margin-top: 2%;
}

.card {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 1.5%;
}

.required-fields-warning {
  color: #E30000;
  font-weight: bold;
}

#hosp-count {
  width: 10%;
}
