// Begin bootstrap_form styles
@import "~bootstrap/scss/bootstrap";

.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
// End bootstrap_form styles

.hide-element {
  display: none;
}

// Begin flatpickr month select arrow bug avoidance
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  display: none;
}

.flatpickr-months .arrowUp,
.flatpickr-months .arrowDown {
  opacity: 1;
}
// End flatpickr bug avoidance

body {
  padding-top: 75px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  overflow: scroll;
}
