// Begin bootstrap_form styles
@import "~bootstrap/scss/bootstrap";

.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}
// End bootstrap_form styles

.hide-element {
  display: none;
}

body {
  padding-top: 75px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  overflow: scroll;
}

#logo-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25%;
  margin-bottom: 1%;
}

#fh-logo-app {
  margin-left: 2%;
}

#app-title {
  margin-right: 2.5%;
  margin-top: 2%;
}

.card {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 1.5%;
}

.pdf-section {
  page-break-after: always;
}

.required-fields-warning {
  color: #E30000;
  font-weight: bold;
}

#hosp-count {
  width: 10%;
}

.file-upload-field {
  width: 70%;
}

#psych_eval_field {
  display: none;
}

#psych_social_field {
  display: none;
}

#insurance_card_field {
  display: none;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.95;
  height: 100%;
  width: 100%;
  z-index: 20;
  text-align: center;
}

.lead {
  margin-top: 10px;
}
