<div id="logo-title-container">
  <div id="fh-logo-app">
  <%= link_to image_tag("https://s3.amazonaws.com/fountainhouse-bucket/fountain_house_logo2.jpg", alt: "Fountain House"), "http://www.fountainhouse.org/", target: "_blank" %>
  </div>

  <div id="app-title">
    <h1>
      Membership Application Form
    </h1>
  </div>
</div>
