<nav class="navbar fixed-top navbar-light bg-light">
  <div id="save-draft-container">
    <button type="button" class="btn btn-success" id="save-draft-button">Save Draft</button>
    <em>
      Save your progress and continue later
    </em>
  </div>
</nav>
