<div class="left-right-container">
  <%= f.label element, label_text, class: "position-left" %>
  <%= f.form_group element do %>
    <div class="position-right">
      <%= f.radio_button element, "No", label: "No",
        checked: radio_checked?(element, "No"), inline: true %>
      <%= f.radio_button element, "Yes", label: "Yes",
        checked: radio_checked?(element, "Yes"), inline: true %>
    </div>
  <% end %>
</div>
