<% provide(:title, "Edit Membership Application Form") %>

<nav class="navbar fixed-top navbar-light bg-light" id="save-draft-button_edit-view">
  <button type="button" class="btn btn-success">Save Draft</button>
</nav>

<%= render partial: 'header' %>

<%= render partial: 'form', locals: { member_application: member_application } %>
